/* Denna fil skall innehålla din CSS kod */

#container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'as sec1 sec1 sec1'
    'as sec2 sec2 sec2'
    'ft ft ft ft';
    margin: auto;


}

header {
    grid-area: hd;
    background-color: #f39c12;
    height: 100px;
    display: flex;
    justify-content: center;
}

nav {
    grid-area: nv;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 380px;
    background-color: rgb(151, 204, 245);
    height: 50px;
}

#sec1 {
    grid-area: sec1;
    display: flex;
    justify-content: flex-end;
   
}

#sec2 {
    grid-area: sec2;
    display: flex;
    justify-content: flex-start;
    
    
}

footer {
    grid-area: ft;
    background-color: #f39c12;
    height: 70px;
}

img {
    width: 40%;
   
}

a{
    color: black;
}