/* Denna fil skall innehålla din CSS kod */

#container {
    display: grid;
    height: 680px;
    width: 100%;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'sec1 sec1 sec2 sec2'
    'sec1 sec1 sec2 sec2'
    'ft ft ft ft';
    margin: auto;


}

header {
    grid-area: hd;
    background-color: #f39c12;
    display: flex;
    justify-content: center;
}

nav {
    grid-area: nv;
}

.nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(255, 247, 163);
}

.nav div {
    margin-right: 16%;
}

#sec1 {
    grid-area: sec1;
    display: flex;
    justify-content: center;
    
    
   
}

#sec2 {
    grid-area: sec2;
    display: flex;
    justify-content: center;
    

    
    
}

footer {
    grid-area: ft;
    background-color: #f39c12;
}

img {
    width: 40%;
   
}

a{
    color: black;
}